<app-navbar> </app-navbar>

<div class="container">
  <div class="bw-nav">
    <div class="cm-title-pages" style="font-weight:bold;">จัดการข้อมูลผู้ใช้งาน > ข้อมูลผู้ใช้งาน</div>
  </div>
  <!--btn-class  -->
  <dx-data-grid #dataGrid id="gridContainer" style="margin: auto;" [dataSource]="data" keyExpr="USER_ID"
    [showBorders]="true" noDataText="ไม่มีข้อมูล" (onToolbarPreparing)="OnToolbarPrePreparing($event)">
    <dxo-search-panel [visible]="true" [width]="240" placeholder="ค้นหา..." location="before"></dxo-search-panel>

    <dxi-column caption="ลำดับ" [width]="50" [allowFiltering]="false" [allowSorting]="false" dataField=""
    cellTemplate="cellTemplate" alignment="center">
    </dxi-column>
    <dxi-column alignment="center" caption="ชื่อผู้ใช้" dataField="USER_USERNAME" [width]="230">
    </dxi-column>
    <dxi-column alignment="center" caption="ชื่อจริง" dataField="USER_NAME" [width]="170">
    </dxi-column>
    <dxi-column alignment="center" caption="นามสกุล" dataField="USER_LASTNAME" [width]="170">
    </dxi-column>
    <dxi-column alignment="center" caption="เบอร์โทร" dataField="USER_PHONE_NUMBER" [width]="215">
    </dxi-column>
    <dxi-column alignment="center" caption="สถานะ" dataField="USER_STATUS" [width]="110"
      [calculateDisplayValue]="GetStatus">
    </dxi-column>
    <dxi-column alignment="center" caption="สิทธิ์การเข้าใช้งาน" dataField="USER_RIGHTS" [width]="120"
      [calculateDisplayValue]="GetRights">
    </dxi-column>
    <dxi-column caption="แก้ไข" cellTemplate="edit" alignment="center" [width]="100">
      <div class="pointer" *dxTemplate="let d of 'edit'">
        <img src="assets/img/edit.png" width="30px" (click)="editdata($event, d)">
      </div>
    </dxi-column>
    <dxi-column caption="ลบ" cellTemplate="delete" alignment="center" [width]="100">

      <div class="pointer" *dxTemplate="let d of 'delete'">
        <div *ngIf="d.data.USER_RIGHTS == 'U';">
          <img src="assets/img/delete.png" width="30px" (click)="deletedata($event, d)">
        </div>
      </div>
    </dxi-column>
    <dxo-scrolling rowRenderingMode="virtual"> </dxo-scrolling>
    <dxo-paging [pageSize]="10"> </dxo-paging>
    <dxo-pager [visible]="true" [allowedPageSizes]="allowedPageSizes" [displayMode]="displayMode"
      [showPageSizeSelector]="showPageSizeSelector" [showInfo]="showInfo" [showNavigationButtons]="showNavButtons">
    </dxo-pager>



    <div *dxTemplate="let t of 'btnAdd'">
      <dx-button icon="add" type="success" requirePermission="ADD" text=" เพิ่ม" class="dx-btn-add"
        routerLink="/user-detailview">
      </dx-button>
    </div>
    <div *dxTemplate="let cell of 'cellTemplate'">
      {{ cell.component.pageIndex() * cell.component.pageSize() + cell.rowIndex + 1 }}

    </div>
  </dx-data-grid>



  <div style="padding-top: 20px;">
    <dx-button id="btn-exit" text="หน้าหลัก" type="danger" routerLink="/mainmenu" icon="home">
    </dx-button>
  </div>


</div>
