<app-navbar> </app-navbar>

<div class="container">
  <div class="bw-nav">
    <div class="cm-title-pages" style="font-weight:bold;">ตรวจสอบสถานะการชำระเงิน</div>
  </div>

  <!--btn-class  -->
  <dx-data-grid #dataGrid id="gridContainer" style="margin: auto;" [dataSource]="data" keyExpr="BILL_ID"
    [showBorders]="true" noDataText="ไม่มีข้อมูล"  (onToolbarPreparing)="OnToolbarPrePreparing($event)">
    <dxo-search-panel [visible]="true" [width]="240" placeholder="ค้นหา..." location="before"></dxo-search-panel>

    <dxi-column caption="ลำดับ" [width]="50" [allowFiltering]="false" [allowSorting]="false" dataField="BILL_ID"
      alignment="center">
    </dxi-column>
    <dxi-column alignment="center" caption="ชื่อผู้ใช้" dataField="USER_ID" [width]="250">
      <dxo-lookup [dataSource]="userdata" valueExpr="USER_ID" displayExpr="USER_NAME"></dxo-lookup>
    </dxi-column>
    <dxi-column alignment="center" caption="ยอดค้างชำระ" dataField="BILL_RESULT" [width]="150">
    </dxi-column>
    <dxi-column alignment="center" caption="สถานะการจ่ายเงิน" dataField="RES_STATUS" [width]="150"
      [calculateDisplayValue]="">
    </dxi-column>
    <dxi-column alignment="center" caption="วันที่ชำระ" dataField="RES_PHONE" [width]="300">
    </dxi-column>
    <dxi-column caption="รูปภาพการชำระเงิน" cellTemplate="pay" alignment="center" [width]="200">
      <div class="pointer" *dxTemplate="let d of 'pay'">
        <img src="assets/img/paylist.png" width="31px" (click)="editimage($event, d)">
      </div>
    </dxi-column>
    <dxi-column caption="แก้ไข" cellTemplate="edit" alignment="center" [width]="100">
      <div class="pointer" *dxTemplate="let d of 'edit'">
        <img src="assets/img/edit.png" width="30px" (click)="editdata($event, d)">
      </div>
    </dxi-column>
    <dxi-column caption="ลบ" cellTemplate="delete" alignment="center" [width]="100">
      <div class="pointer" *dxTemplate="let d of 'delete'">
        <img
          src="assets/img/delete.png" width="30px" (click)="deletedata($event, d)">
      </div>
    </dxi-column>
    <dxo-scrolling rowRenderingMode="virtual"> </dxo-scrolling>
    <dxo-paging [pageSize]="10"> </dxo-paging>
    <dxo-pager [visible]="true" [allowedPageSizes]="allowedPageSizes" [displayMode]="displayMode"
      [showPageSizeSelector]="showPageSizeSelector" [showInfo]="showInfo" [showNavigationButtons]="showNavButtons">
    </dxo-pager>
  </dx-data-grid>
  <div style="padding-top: 20px;">
    <dx-button id="btn-exit" text="หน้าหลัก" type="danger" routerLink="/mainmenu" icon="home">
    </dx-button>
  </div>


</div>
