<app-navbar> </app-navbar>

<div class="container">
  <div class="bw-nav">

  </div>

  <!--btn-class  -->
  <div class="">
    <div class="row">
      <div class="col">
        <div class="cm-title-pages" style="font-weight:bold; padding-bottom: 20px;">จัดการยอดค้างชำระ</div>
        <dx-data-grid #dataGrid id="gridContainer" style="margin: auto;" [dataSource]="userdata" keyExpr="USER_ID"
          [showBorders]="true" noDataText="ไม่มีข้อมูล" (onToolbarPreparing)="OnToolbarPrePreparing($event)">
          <dxo-search-panel [visible]="true" [width]="240" placeholder="ค้นหา..." location="before"></dxo-search-panel>

          <dxi-column caption="รหัสผู้ใช้" [width]="100" [allowFiltering]="false" [allowSorting]="false"
            dataField="USER_ID" alignment="center">
          </dxi-column>
          <dxi-column alignment="center" caption="ชื่อผู้ใช้" dataField="USER_USERNAME" [width]="250">
            <!-- <dxo-lookup [dataSource]="userdata" valueExpr="USER_ID" displayExpr="USER_NAME"></dxo-lookup> -->
          </dxi-column>
          <dxi-column alignment="center" caption="ยอดค้างชำระ" dataField="USER_BALANCE" [width]="100">
            <!-- <dxo-lookup [dataSource]="userdata" valueExpr="USER_ID" displayExpr="USER_NAME"></dxo-lookup> -->
          </dxi-column>

          <dxi-column caption="แก้ไข" cellTemplate="edit" alignment="center" [width]="100">
            <div class="pointer" *dxTemplate="let d of 'edit'">
              <img src="assets/img/edit.png" width="30px" (click)="editdata($event, d)">
            </div>
          </dxi-column>
          <!-- <dxi-column caption="ลบ" cellTemplate="delete" alignment="center" [width]="100">
          <div class="pointer" *dxTemplate="let d of 'delete'">
            <img
              src="assets/img/delete.png" width="30px" (click)="deletedata($event, d)">
          </div>
        </dxi-column> -->
          <dxo-scrolling rowRenderingMode="virtual"> </dxo-scrolling>
          <dxo-paging [pageSize]="5"> </dxo-paging>
          <dxo-pager [visible]="true" [allowedPageSizes]="allowedPageSizes" [displayMode]="displayMode"
            [showPageSizeSelector]="showPageSizeSelector" [showInfo]="showInfo"
            [showNavigationButtons]="showNavButtons">
          </dxo-pager>
        </dx-data-grid>
      </div>

      <div class="col">
        <div class="cm-title-pages" style="font-weight:bold;padding-bottom: 20px;">ตรวจสอบสถานะการชำระเงิน</div>
        <dx-data-grid #dataGrid id="gridContainer" style="margin: auto;" [dataSource]="paydata" keyExpr="PAY_ID"
          [dateSerializationFormat]="'yyyy-MM-dd'" [showBorders]="true" noDataText="ไม่มีข้อมูล"
          (onToolbarPreparing)="OnToolbarPrePreparing($event)">
          <dxo-search-panel [visible]="true" [width]="240" placeholder="ค้นหา..." location="before"></dxo-search-panel>

          <dxi-column caption="ลำดับ" [width]="100" [allowFiltering]="false" [allowSorting]="false" dataField="PAY_ID"
            alignment="center">

          </dxi-column>
          <dxi-column alignment="center" caption="ชื่อผู้ใช้" dataField="USER_ID" [width]="201">
            <dxo-lookup [dataSource]="userdata" valueExpr="USER_ID" displayExpr="USER_NAME"></dxo-lookup>
          </dxi-column>
          <dxi-column alignment="center" caption="วันที่ชำระ" dataField="CREATE_DATE" [width]="200" dataType="date"
            format="dd-MM-yyyy">
            <!-- <dxo-lookup [dataSource]="userdata" valueExpr="USER_ID" displayExpr="USER_NAME"></dxo-lookup> -->
          </dxi-column>
          <dxi-column alignment="center" caption="ยอดที่ชำระ" dataField="PAY_AMOUNT" [width]="100">
            <!-- <dxo-lookup [dataSource]="userdata" valueExpr="USER_ID" displayExpr="USER_NAME"></dxo-lookup> -->
          </dxi-column>
          <dxi-column caption="รูปภาพการชำระเงิน" cellTemplate="pay" alignment="center" [width]="100">
            <div class="pointer" *dxTemplate="let d of 'pay'">
              <img src="assets/img/paylist.png" width="30px" (click)="editimage($event, d)">
            </div>
          </dxi-column>
          <!-- <dxi-column caption="แก้ไข" cellTemplate="edit" alignment="center" [width]="100">
            <div class="pointer" *dxTemplate="let d of 'edit'">
              <img src="assets/img/edit.png" width="30px" (click)="editdata($event, d)">
            </div>
          </dxi-column> -->
          <!-- <dxi-column caption="ลบ" cellTemplate="delete" alignment="center" [width]="100">
      <div class="pointer" *dxTemplate="let d of 'delete'">
        <img
          src="assets/img/delete.png" width="30px" (click)="deletedata($event, d)">
      </div>
    </dxi-column> -->
          <dxo-scrolling rowRenderingMode="virtual"> </dxo-scrolling>
          <dxo-paging [pageSize]="5"> </dxo-paging>
          <dxo-pager [visible]="true" [allowedPageSizes]="allowedPageSizes" [displayMode]="displayMode"
            [showPageSizeSelector]="showPageSizeSelector" [showInfo]="showInfo"
            [showNavigationButtons]="showNavButtons">
          </dxo-pager>
        </dx-data-grid>
      </div>
    </div>
  </div>


  <div style="padding-top: 20px;">
    <dx-button id="btn-exit" text="หน้าหลัก" type="danger" routerLink="/mainmenu" icon="home">
    </dx-button>
  </div>


</div>
