<app-navbar></app-navbar>
<div class="container" style="padding-top: 1%;">
    <div class="bw-nav">
      <div class="cm-title-pages">จัดการข้อมูลผู้ใช้งาน > แก้ไขข้อมูลผู้ใช้</div>
    </div>  
    <div class="card">
      <form action="your-action">
        <div class="dx-fieldset">
          <div class="dx-fieldset-header">แก้ไขข้อมูลผู้ใช้</div>
          <div class="dx-field">
            <div class="dx-field-label">Username</div>
            <div class="dx-field-value">
              <dx-text-box  [readOnly]="true">
                <dx-validator>
                  <dxi-validation-rule></dxi-validation-rule>
                </dx-validator>
              </dx-text-box>
            </div>
          </div>
          <div class="dx-field">
            <div class="dx-field-label">Password</div>
            <div class="dx-field-value">
              <dx-text-box mode="password">
                <dx-validator>
                  <dxi-validation-rule type="required" message="Password is required"></dxi-validation-rule>
                </dx-validator>
              </dx-text-box>
            </div>
          </div>
          <div class="dx-field">
            <div class="dx-field-label">Confirm Password</div>
            <div class="dx-field-value">
              <dx-text-box mode="password">
                <dx-validator>
                  <dxi-validation-rule type="required" message="Confirm Password is required"></dxi-validation-rule>
  
                </dx-validator>
              </dx-text-box>
            </div>
          </div>
        </div>
        <div class="dx-fieldset">
          <div class="dx-fieldset-header">ข้อมูลส่วนตัว</div>
          <div class="dx-field">
            <div class="dx-field-label">FristName</div>
            <div class="dx-field-value">
              <dx-text-box value="">
                <dx-validator>
                  <dxi-validation-rule type="required" message="Name is required"></dxi-validation-rule>
                  <dxi-validation-rule type="stringLength" [min]="2"
                    message="Name must have at least 2 symbols"></dxi-validation-rule>
                </dx-validator>
              </dx-text-box>
            </div>
          </div>
          <div class="dx-field">
            <div class="dx-field-label">LastName</div>
            <div class="dx-field-value">
              <dx-text-box value="">
                <dx-validator>
                  <dxi-validation-rule type="required" message="Name is required"></dxi-validation-rule>
                  <dxi-validation-rule type="stringLength" [min]="2"
                    message="Name must have at least 2 symbols"></dxi-validation-rule>
                </dx-validator>
              </dx-text-box>
            </div>
          </div>
        </div>
        <div class="dx-fieldset">
          <div class="dx-fieldset-header">ช่องทางการติดต่อ</div>
  
          <div class="dx-field">
            <div class="dx-field-label">Phone <i>(เบอร์ติดต่อ)</i></div>
            <div class="dx-field-value">
              <dx-text-box mask="(+66) 000-000-0000" maskInvalidMessage="The phone must have a correct USA phone format"
                validationMessagePosition="left">
                <dx-validator>
                  <dxi-validation-rule type="pattern"
                    message="The phone must have a correct USA phone format"></dxi-validation-rule>
                </dx-validator>
              </dx-text-box>
            </div>
          </div>
          <div class="dx-field">
            <div class="dx-field-label">Email</div>
            <div class="dx-field-value">
              <dx-text-box validationMessagePosition="left">
                <dx-validator>
                  <dxi-validation-rule type="required" message="City is required"></dxi-validation-rule>
                  <dxi-validation-rule type="email" message="Do not email"></dxi-validation-rule>
                  <dxi-validation-rule type="stringLength" [min]="2"
                    message="City must have at least 2 symbols"></dxi-validation-rule>
                </dx-validator>
              </dx-text-box>
            </div>
          </div>
          <div class="dx-field">
            <div class="dx-field">
              <div class="dx-field-label">สถานะผู้ใช้งาน</div>
              <div class="dx-field-value">
                <dx-select-box [dataSource]="status" validationMessagePosition="left" (onValueChanged)="statuschange()"
                [(value)]="statusrecord">
                  <dx-validator>
                    <!-- <dxi-validation-rule type="required" message="Country is required"></dxi-validation-rule> -->
                  </dx-validator>
                </dx-select-box>
              </div>
            </div>
          </div>
          <div class="dx-fieldset">
            <dx-validation-summary id="summary"></dx-validation-summary>
            <div class="row" style="align-items: center;">
              &nbsp;&nbsp;&nbsp;&nbsp;
              <dx-button width="50%" id="button" text="แก้ไขข้อมูล" type="success" [useSubmitBehavior]="true">
              </dx-button>&nbsp;&nbsp;
              <dx-button width="45%" id="button" text="ยกเลิก" type="danger" routerLink="/user-listview">
              </dx-button>
            </div>
          </div>
        </div>
      </form>
  
    </div>
  </div>
  
