<div class="body">

  <nav class="navbar navbar-expand-lg navbar-light ">
    <div class="container-fluid">
      <div class="navbar-brand-font" style="margin-top: 10px;">
        Betimes Solutions <br>
        <div class="row">
          <p style="font-size: 17px;">Luanch Order</p>
        </div>
      </div>
      <div class="" id="">
        <div class="d-flex">
            <div style="margin-top: 10px; cursor: pointer; padding-right: 20px;">
              <p class="txttitle-name m-0"> นางสาวสมศรี สวยสด</p>
              <p class="txttitle-user m-0"> เจ้าหน้าที่ ดูแลระบบ</p>
              <p class="txttitle-user m-0"> เข้าล่าสุด 15 ธ.ค. 2565 12:57 น. </p>
            </div>

          <i-feather name="log-out" style="color: aliceblue; width: 30px;height: 30px; padding-top: 25px;"></i-feather>
        </div>
      </div>
    </div>
  </nav>
</div>