<app-navbar> </app-navbar>

<div class="body">
  <!--cloum-class-->
  <div class="container" style="padding-top: 20px;">
      <div class="col-foodtoday">
    <div class="row block-system">
      <div class="block-item-ftd">
        <figure class="app-icon"><img class="rounded cm-system-img"
            src="https://cdn2.iconfinder.com/data/icons/future-of-shopping-flat/64/pre-order-food-mobile-pickup-app-restaurant-64.png"><!----><!---->
        </figure><label class="app-name">รายการสั่งอาหารประจำวัน</label><span class="app-number"></span>
      </div>
    </div>
  </div>
  </div>


  <div class="container" style="padding-top: 20px;">
    <div class="row m-50">
      <div class="col-md-12 m-b-15 col-lg-6 col">
        <div class="row block-system">
          <div class="app-items">
            <figure class="app-icon"><img class="rounded cm-system-img"
                src="https://cdn-icons-png.flaticon.com/512/5393/5393031.png"><!----><!---->
            </figure><label class="app-name">ตรวจสอบสถานะการชำระเงิน</label><span class="app-number"></span>
          </div>
        </div>
      </div>
      <div class="col-md-12 m-b-15 col-lg-6">
        <div class="row block-system">
          <div class="app-items">
            <figure class="app-icon"><img class="rounded cm-system-img"
                src="https://cdn1.iconfinder.com/data/icons/web-marketing-fill-line/64/store-64.png"><!----><!---->
            </figure><label class="app-name">จัดการร้านอาหาร</label><span class="app-number"></span>
          </div>
        </div>
      </div>
      <div class="col-md-12 m-b-15 col-lg-6">
        <div class="row block-system">
          <div class="app-items">
            <figure class="app-icon"><img class="rounded cm-system-img"
                src="https://cdn3.iconfinder.com/data/icons/food-and-delivery-1/128/basket_add_cart_shopping_buy_web_online-64.png"><!----><!---->
            </figure><label class="app-name">จัดการรายการอาหาร</label><span class="app-number"></span>
          </div>
        </div>
      </div>
      <div class="col-md-12 m-b-15 col-lg-6">
        <div class="row block-system" routerLink="/user-listview">
          <div class="app-items">
            <figure class="app-icon"><img class="rounded cm-system-img"
                src="https://cdn3.iconfinder.com/data/icons/business-and-employment-2/48/workers_employee_data_male_man-256.png"><!----><!---->
            </figure><label class="app-name">ข้อมูลผู้ใช้</label><span class="app-number"></span>
          </div>
        </div>
      </div><!---->
    </div>

  </div>
</div>