<nav class="navbar navbar-expand-lg navbar-light ">
  <div class="container-fluid">
    <img
      src="https://assets-us-01.kc-usercontent.com/c15e0499-ce06-0040-71b0-16aa2ece090d/6278cc01-5369-467b-9b7b-39b519b7d69b/BeTimes%20Solutions%20Logo.png"
      style="height: 75px;width: 180px;">

    <div class="" id="navbarNavAltMarkup">
      <div class="d-flex">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
          <a class="nav-link" href="#">Features</a>
          <a class="nav-link" href="#">Pricing</a>
        </div>
      </div>
    </div>
  </div>
</nav>