<div>
<nav class="navbar navbar-expand-lg navbar-light ">
  <div class="container-fluid">
    <div class="block-system">
      <a class="" style="padding-top: 12px; padding-right: 10px;" aria-current="page" routerLink="/mainmenu"><img
          src="https://cdn-icons-png.flaticon.com/512/2626/2626923.png" alt="" width="50px" height="50px"></a>
      <div class="navbar-brand-font" style="margin-top: 10px; font-weight:bold;" routerLink="/mainmenu">
        Betimes Solutions <br>
        <div class="row">
          <p style="font-size: 17px; margin-left: 10px; font-weight:bold;">Luanch Order</p>
        </div>
      </div>
    </div>
    <div class="" id="">
      <div class="d-flex">
        <div style="margin-top: 8px; cursor: pointer; padding-right: 20px;">
          <p class="txttitle-name m-0">คุณ {{name}} {{lastname}}</p>
          <p class="txttitle-user m-0"> เจ้าหน้าที่ ดูแลระบบ</p>
        </div>
        <i-feather name="log-out" style="color: aliceblue; width: 30px;height: 30px; padding-top: 15px;"
          routerLink="/login"></i-feather>
      </div>
    </div>
  </div>
</nav>
</div>
