<app-navbar></app-navbar>

<div class="container" style="padding-top: 1%;">
  <div class="bw-nav">
    <div class="cm-title-pages" style="font-weight:bold;">จัดการข้อมูลผู้ใช้งาน > {{title}}</div>
  </div>
  <div class="card">
    <form action="your-action" (ngSubmit)="Submit()">
      <div class="dx-fieldset">
        <div class="dx-fieldset-header" style="font-weight:bold;">{{head}}</div>
        <div class="dx-field">
          <div class="dx-field-label">ชื่อผู้ใช้</div>
          <div class="dx-field-value">
            <dx-text-box [(value)]="username" [readOnly]="read">
              <dx-validator>
                <dxi-validation-rule type="required" message="Username is required"></dxi-validation-rule>
              </dx-validator>
            </dx-text-box>
          </div>
        </div>
        <div class="row">
          <div class="dx-field">
            <div class="dx-field-label">รหัสผ่าน</div>
            <div class="dx-field-value">
              <dx-text-box mode="password" [(value)]="password">
                <dx-validator>
                  <dxi-validation-rule type="required" message="Password is required"></dxi-validation-rule>
                </dx-validator>
              </dx-text-box>
            </div>
          </div>
          <div class="dx-field">
            <div class="dx-field-label">ยืนยันรหัสผ่าน</div>
            <div class="dx-field-value">
              <dx-text-box mode="password" [(value)]="confirmpassword"
                [validationStatus]="checkPasswordMatch() ? 'valid' : 'invalid'"
                [validationError]="{ message: 'Passwords do not match' }">
                <dx-validator>
                  <dxi-validation-rule type="required" message="Confirm Password is required"></dxi-validation-rule>
                  <dxi-validation-rule type="compare" [comparisonTarget]="passwordComparison"
                    message="Password and Confirm Password do not match"></dxi-validation-rule>
                </dx-validator>
              </dx-text-box>
            </div>
          </div>
        </div>
      </div>
      <div class="dx-fieldset">
        <div class="dx-fieldset-header"  style="font-weight:bold;">ข้อมูลส่วนตัว</div>
        <div class="dx-field">
          <div class="dx-field-label">ชื่อ</div>
          <div class="dx-field-value">
            <dx-text-box [(value)]="firstname">
              <dx-validator>
                <dxi-validation-rule type="required" message="Name is required"></dxi-validation-rule>
                <dxi-validation-rule type="stringLength" [min]="2"
                  message="Name must have at least 2 symbols"></dxi-validation-rule>
              </dx-validator>
            </dx-text-box>
          </div>
        </div>
        <div class="dx-field">
          <div class="dx-field-label">นามสกุล</div>
          <div class="dx-field-value">
            <dx-text-box [(value)]="lastname">
              <dx-validator>
                <dxi-validation-rule type="required" message="Name is required"></dxi-validation-rule>
                <dxi-validation-rule type="stringLength" [min]="2"
                  message="Name must have at least 2 symbols"></dxi-validation-rule>
              </dx-validator>
            </dx-text-box>
          </div>
        </div>
      </div>

      <div class="dx-fieldset">
        <div class="dx-fieldset-header"  style="font-weight:bold;">ช่องทางการติดต่อ</div>
        <div class="dx-field">
          <div class="dx-field-label">เบอร์มือถือ</div>
          <div class="dx-field-value">
            <dx-text-box mask="(+66) 000-000-0000" maskInvalidMessage="The phone must have a correct USA phone format"
              validationMessagePosition="left" [(value)]="phone">
              <dx-validator>
                <dxi-validation-rule type="pattern"
                  message="The phone must have a correct USA phone format"></dxi-validation-rule>
              </dx-validator>
            </dx-text-box>
          </div>
        </div>
        <div class="dx-field">
          <div class="dx-field-label">อีเมลล์</div>
          <div class="dx-field-value">
            <dx-text-box validationMessagePosition="left" [(value)]="email">
              <dx-validator>
                <dxi-validation-rule type="required" message="City is required"></dxi-validation-rule>
                <dxi-validation-rule type="email" message="Do not email"></dxi-validation-rule>
                <dxi-validation-rule type="stringLength" [min]="2"
                  message="City must have at least 2 symbols"></dxi-validation-rule>
              </dx-validator>
            </dx-text-box>
          </div>
        </div>
        <!-- <div class="dx-field">
          <div class="dx-field">
            <div class="dx-field-label">สถานะการใช้งาน</div>
            <div class="dx-field-value">
              <dx-select-box [dataSource]="status" validationMessagePosition="left" (onValueChanged)="statuschange()"
                [(value)]="statusrecord">
                <dx-validator>

                </dx-validator>
              </dx-select-box>
            </div>
          </div>
        </div>    -->
        <div class="dx-field">
          <div class="dx-fieldset-header" style="font-weight:bold;">สิทธิการใช้งาน</div>
          <div class="dx-field">
            <div class="dx-field-label">สถานะการใช้งาน</div>
            <div class="dx-field-value">
              <dx-radio-group
                [items]="priorities"
                layout="horizontal"
                [(value)]="statusrecord"
                 validationMessagePosition="left"
                (onValueChanged)="statuschange()"
                >
              >
              </dx-radio-group>
            </div>
          </div>
          <div class="dx-field">
            <div class="dx-field-label">สิทธิผู้ใช้งาน</div>
            <div class="dx-field-value">
              <dx-radio-group
                [items]="status"
                layout="horizontal"
                [(value)]="usestat"
                validationMessagePosition="left" (onValueChanged)="userchange()"
                >
              >
              </dx-radio-group>
            </div>
          </div>
        </div>
        <div class="row-btn">
          <dx-button class="dx-button-mode-contained .dx-icon " width="50%" id="buttonsummit" type="submit"
            [useSubmitBehavior]="true">
            <i class="bi bi-save" style="padding-right: 10px;"></i>บันทึกข้อมูล
          </dx-button>&nbsp;
          <dx-button width="48%" id="button" text="ยกเลิก" type="danger" routerLink="/user-listview" icon="remove">

          </dx-button>
        </div>
      </div>
    </form>
  </div>
</div>
