<app-navbar> </app-navbar>

<div class="container">
  <div class="bw-nav">
    <div class="cm-title-pages"style="font-weight:bold;" >จัดการข้อมูลร้านอาหาร</div>
  </div>

  <div class="dx-datagrid-header-panel">
    <div class="dx-toolbar dx-widget dx-visibility-change-handler dx-collection" role="toolbar">
      <div class="dx-toolbar-items-container">
        <div class="dx-toolbar-before">
          <div class="dx-item dx-toolbar-item dx-toolbar-button">
            <div class="dx-item-content dx-toolbar-item-content">
              <div
                class="dx-datagrid-search-panel dx-show-invalid-badge dx-textbox dx-texteditor dx-editor-outlined dx-searchbox dx-show-clear-button dx-texteditor-empty dx-widget"
                style="width: 240px;">
                <div class="dx-texteditor-container">
                  <div class="dx-texteditor-input-container">
                    <div class="dx-icon dx-icon-search"></div><input autocomplete="off" aria-label="Search in data grid"
                      class="dx-texteditor-input" type="text" spellcheck="false" tabindex="0" role="textbox"
                      placeholder="ค้นหา...">
                    <div class="dx-placeholder"></div>
                  </div>
                  <div class="dx-texteditor-buttons-container"><span class="dx-clear-button-area"><span
                        class="dx-icon dx-icon-clear"></span></span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="dx-toolbar-center" style="margin: 0px 107.078px 0px 270px; float: none;"></div>
        <div class="dx-toolbar-after">
          <div class="dx-item dx-toolbar-item dx-toolbar-button">
            <div class="dx-template-wrapper dx-item-content dx-toolbar-item-content">
              <dx-button icon="add" type="success" requirepermission="ADD" text=" เพิ่ม"
                class="dx-btn-add dx-button dx-button-success dx-button-mode-contained dx-widget dx-button-has-icon dx-button-has-text"
                aria-label=" เพิ่ม" tabindex="0" role="button" routerLink="/resname-detailview">
                <div class="dx-button-content"><i class="dx-icon dx-icon-add"></i><span class="dx-button-text">
                    เพิ่ม</span></div>
              </dx-button><!---->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--btn-class  -->
  <dx-data-grid id="gridContainer" style="margin: auto;" [dataSource]="data" keyExpr="RES_ID" [showBorders]="true">
    <dxi-column caption="ลำดับ" [width]="100" [allowFiltering]="false" [allowSorting]="false" dataField="RES_ID"
      alignment="center">
    </dxi-column>
    <dxi-column alignment="center" caption="ชื่อร้านอาหาร" dataField="RES_NAME" [width]="280">
    </dxi-column>
    <dxi-column alignment="center" caption="เบอร์โทร ร้านอาหาร" dataField="RES_PHONE" [width]="200">
    </dxi-column>
    <dxi-column alignment="center" caption="สถานะ เปิด/ปิด" dataField="RES_STATUS" [width]="150" [calculateDisplayValue]="GetStatus">
    </dxi-column>
    <dxi-column alignment="center" caption="รายละเอียดร้านอาหาร" dataField="RES_DETAIL" [width]="360">
    </dxi-column>
    <dxi-column caption="แก้ไข" cellTemplate="edit" alignment="center" [width]="100">

      <div class="pointer" *dxTemplate="let d of 'edit'">
        <img src="assets/img/edit.png" width="25px" (click)="editdata($event, d)">
      </div>
    </dxi-column>
    <dxi-column caption="ลบ" cellTemplate="delete" alignment="center" [width]="100">

      <div class="pointer" *dxTemplate="let d of 'delete'">
        <img
          src="https://media.istockphoto.com/vectors/bin-icon-flat-red-round-button-vector-illustration-vector-id1162428585?k=20&m=1162428585&s=170667a&w=0&h=NLRV5LS9x5zwqHbB8VtLVSs_0vJTKzKkw-kJEgeV9Mo="
          width="25px" (click)="deletedata($event, d)">

      </div>
    </dxi-column>
    <dxo-scrolling rowRenderingMode="virtual"> </dxo-scrolling>
    <dxo-paging [pageSize]="10"> </dxo-paging>
    <dxo-pager [visible]="true" [allowedPageSizes]="allowedPageSizes" [displayMode]="displayMode"
      [showPageSizeSelector]="showPageSizeSelector" [showInfo]="showInfo" [showNavigationButtons]="showNavButtons">
    </dxo-pager>
  </dx-data-grid>
  <div style="padding-top: 20px;">
      <dx-button id="btn-exit" text="หน้าหลัก" type="danger" routerLink="/mainmenu" icon="home">
  </dx-button>
  </div>


</div>
