<app-navbar></app-navbar>

<div class="container">
  <div class="bw-nav">
    <div class="cm-title-pages" style="font-weight:bold;">จัดการข้อมูลรายการอาหาร</div>
  </div>

  <!--btn-class  -->
  <dx-data-grid #dataGrid id="gridContainer" style="margin: auto;" [dataSource]="data" keyExpr="FOOD_ID"
    [showBorders]="true" (onToolbarPreparing)="OnToolbarPrePreparing($event)">
    <dxo-search-panel [visible]="true" [width]="240" placeholder="ค้นหา..." ></dxo-search-panel>

    <dxi-column caption="ลำดับ" [width]="50" [allowFiltering]="false" [allowSorting]="false" dataField="FOOD_ID"
      alignment="center">
    </dxi-column>
    <dxi-column caption="ร้านอาหาร" [width]="150"  dataField="RES_ID"
      alignment="center">
      <dxo-lookup [dataSource]="resdata" valueExpr="RES_ID" displayExpr="RES_NAME"></dxo-lookup>
    </dxi-column>
    <dxi-column alignment="center" caption="ชื่ออาหาร" dataField="FOOD_NAME" [width]="250">
    </dxi-column>
    <!-- <dxi-column alignment="center" caption="ราคา" dataField="FOOD_PRICE" [width]="90">
    </dxi-column> -->
    <dxi-column alignment="center" caption="ราคาปกติ" dataField="FOOD_NORMAL" [width]="110">
    </dxi-column>
    <dxi-column alignment="center" caption="ราคาพิเศษ" dataField="FOOD_SPECIAL" [width]="110">
    </dxi-column>
    <!-- <dxi-column alignment="center" caption="Option" dataField="FOOD_OPTION" [width]="90">
    </dxi-column> -->
    <dxi-column alignment="center" caption="สถานะ" dataField="USER_STATUS" [width]="110"
      [calculateDisplayValue]="GetStatus">
    </dxi-column>
    <dxi-column alignment="center" caption="รายละเอียดอาหาร" dataField="FOOD_NOTE" [width]="310">
    </dxi-column>

    <dxi-column caption="แก้ไข" cellTemplate="edit" alignment="center" [width]="100">
      <div class="pointer" *dxTemplate="let d of 'edit'">
        <img src="assets/img/edit.png" width="30px" (click)="editdata($event, d)">
      </div>
    </dxi-column>
    <dxi-column caption="ลบ" cellTemplate="delete" alignment="center" [width]="100">
      <div class="pointer" *dxTemplate="let d of 'delete'">
        <img src="assets/img/delete.png" width="30px" (click)="deletedata($event, d)">
      </div>
    </dxi-column>

    <dxo-scrolling rowRenderingMode="virtual"> </dxo-scrolling>
    <dxo-paging [pageSize]="10"> </dxo-paging>
    <dxo-pager [visible]="true" [allowedPageSizes]="allowedPageSizes" [displayMode]="displayMode"
      [showPageSizeSelector]="showPageSizeSelector" [showInfo]="showInfo" [showNavigationButtons]="showNavButtons">
    </dxo-pager>
    <div *dxTemplate="let t of 'btnAdd'">
      <dx-button icon="add" type="success" requirePermission="ADD" text=" เพิ่ม" class="dx-btn-add"
        routerLink="/food-detail">
      </dx-button>
    </div>
  </dx-data-grid>
  <div style="padding-top: 20px;">
    <dx-button id="btn-exit" text="หน้าหลัก" type="danger" routerLink="/mainmenu" icon="home">
    </dx-button>
  </div>
</div>
