<app-navbar></app-navbar>

<div class="container" style="padding-top: 1%;">
  <div class="bw-nav">
    <div class="cm-title-pages" style="font-weight:bold;">ข้อมูลรายการอาหาร</div>
  </div>
  <div class="card">
    <form action="your-action" (ngSubmit)="Submit()">
      <div class="dx-fieldset">
        <div class="dx-field">
          <div class="dx-fieldset-header" style="font-weight:bold;">{{head}}</div>
          <div class="dx-field">
            <div class="dx-field-label">รายชื่อร้านอาหาร</div>
            <div class="dx-field-value">
              <dx-select-box [dataSource]="opentime" validationMessagePosition="left" (onValueChanged)="statuschange()"
                [(value)]="statusrecord">
                <dx-validator>
                </dx-validator>
              </dx-select-box>
            </div>
          </div>
        </div>
        <div class="dx-field">
          <div class="dx-field-label">ชื่ออาหาร</div>
          <div class="dx-field-value">
            <dx-text-box [(value)]="resname" [readOnly]="read">
              <dx-validator>
                <dxi-validation-rule type="required" message="กรุณากรอกชื่ออาหาร"></dxi-validation-rule>
              </dx-validator>
            </dx-text-box>
          </div>
        </div>
      </div>
      <div class="dx-fieldset">
        <div class="dx-fieldset-header" style="font-weight:bold;">ราคาอาหาร</div>
        <div class="dx-field">
          <div class="dx-field-label">ธรรมดา</div>
          <div class="dx-field-value">
            <dx-text-box validationMessagePosition="left" [(value)]="detail">
              <dx-validator>
                <dxi-validation-rule type="required" message="กรุณากรอกราคาอาหาร"></dxi-validation-rule>
                <dxi-validation-rule type="stringLength" [min]="2"
                  message="City must have at least 2 symbols"></dxi-validation-rule>
              </dx-validator>
            </dx-text-box>
          </div>
        </div>
        <div class="dx-field">
          <div class="dx-field-label">พิเศษ</div>
          <div class="dx-field-value">
            <dx-text-box validationMessagePosition="left" [(value)]="detail">
              <dx-validator>
                <dxi-validation-rule type="required" message="กรุณากรอกราคาอาหาร"></dxi-validation-rule>
                <dxi-validation-rule type="stringLength" [min]="2"
                  message="City must have at least 2 symbols"></dxi-validation-rule>
              </dx-validator>
            </dx-text-box>
          </div>
        </div>
        <div class="dx-field">
          <div class="dx-fieldset-header" style="font-weight:bold;">ข้อมูลเพิ่มเติม</div>
          <div class="dx-field">
            <div class="dx-field-label">สถานะอาหาร</div>
            <div class="dx-field-value">
              <dx-radio-group
                [items]="priorities"
                [value]="priorities[1]"
                layout="horizontal"
              >
              </dx-radio-group>
            <!-- <div class="dx-field-label">สถานะอาหาร</div>
            <div class="dx-field-value">
              <dx-select-box [dataSource]="opentime" validationMessagePosition="left" (onValueChanged)="statuschange()"
                [(value)]="statusrecord">
                <dx-validator>
                </dx-validator>
              </dx-select-box> -->
            </div>
          </div>
        </div>
        <div class="dx-field">
          <div class="dx-field-label">รายละเอียดอาหาร</div>
          <div class="dx-field-value">
            <dx-text-box validationMessagePosition="left" [(value)]="detail">
              <dx-validator>
                <dxi-validation-rule type="required" message="กรุณากรอกรายละเอียดอาหาร"></dxi-validation-rule>
                <dxi-validation-rule type="stringLength" [min]="2"
                  message="City must have at least 2 symbols"></dxi-validation-rule>
              </dx-validator>
            </dx-text-box>
          </div>
        </div>
        <div class="row-btn">
          <dx-button class="dx-button-mode-contained .dx-icon " width="50%" id="buttonsummit" type="submit"
            [useSubmitBehavior]="true">
            <i class="bi bi-save" style="padding-right: 10px;"></i>บันทึกข้อมูล
          </dx-button>&nbsp;
          <dx-button width="48%" id="button" text="ยกเลิก" type="danger" routerLink="/food-list" icon="remove">
          </dx-button>
        </div>
      </div>
    </form>
  </div>
</div>