/* You can add global styles to this file, and also import other style files */

<<<<<<< HEAD
/* @import 'assets/moi/fonts/thsarabunnew_Bold.ttf';
@import 'assets/moi/fonts/thsarabunnew_Light.ttf';
@import 'assets/moi/fonts/thsarabunnew_Medium.ttf';
@import 'assets/moi/fonts/thsarabunnew_SemiBold.ttf';
@import 'assets/moi/fonts/thsarabunnew_Text.ttf';
@import 'assets/moi/fonts/thsarabunnew_Thin.ttf'; */

::ng-deep html,
body {
  overflow: visible;
}



.dx-button-content .dx-icon.fa-eye {
  font-size: 16px;
}

.dx-popup-title.dx-toolbar .dx-toolbar-label {
  font-size: 16px !important;
}

.dx-popup-title {
  color: #fff !important;
  background: #4f96db !important;
  font-weight: bold !important;
}

.dx-datagrid-rowsview .dx-selection.dx-row > td,
.dx-datagrid-rowsview .dx-selection.dx-row:hover > td {
  background-color: #8edfff !important;
  color: #232323 !important;
}

.dx-texteditor.dx-state-readonly {
  background: #e0e0e0 !important;
}

.dx-texteditor-input {
  color: #000000 !important;
}

.dx-popup-wrapper > .dx-overlay-content {
  border: 2px solid #8b8b8b !important;
}

.dx-radiobutton-icon::before {
  border: 1px solid #594f4f !important;
}

.dx-dialog-message {
  text-align: center;
}

.card-icon {
  color: #fff !important;
  background: #fe9634 !important;
}
.card {
  min-height: auto;
}

.dx-datagrid-rowsview
  .dx-select-checkboxes-hidden
  > tbody
  > tr
  > td
  > .dx-select-checkbox {
  display: unset !important;
}
.dx-datagrid-borders > .dx-datagrid-headers {
  border-left: 1px solid #fff !important;
  border-right: 1px solid #fff !important;
}
.dx-datagrid-borders > .dx-datagrid-headers {
  border-top: 1px solid #fff !important;
}
.dx-datagrid-borders > .dx-datagrid-rowsview {
  border-left: 1px solid #fff !important;
  border-right: 1px solid #fff !important;
}
.dx-datagrid-headers {
  color: #95959512;
  font-weight: 400;
  -ms-touch-action: pinch-zoom;
  touch-action: pinch-zoom;
  border-bottom: 1px solid #fff !important;
}

table > tbody > .dx-header-row > td {
  background-color: #549d59 !important;
  color: #ffffff !important;
  font-family: 'thsarabunnew' !important;
  font-weight: bold;
  font-size: 16px;
}

pre {
  font-family: 'thsarabunnew' !important;
}

.dx-field {
  font-family: 'thsarabunnew' !important;
  font-size: 18px;
}

.dx-datagrid .dx-row > td {
  font-family: 'thsarabunnew' !important;
  font-size: 16px;
}

.dx-widget {
  font-family: 'thsarabunnew' !important;
  font-size: 16px;
}

.dx-texteditor-input {
  font-family: 'thsarabunnew' !important;
}

.dx-field-item-help-text,
.dx-field-item-label-text {
  color: #333;
  font-size: 16px;
  font-family: 'thsarabunnew' !important;
}

/* .dx-treelist-text-content{
    font-family: "thsarabunnew" !important;
} */

.dx-treelist .dx-row-lines > td {
  font-family: 'thsarabunnew' !important;
  font-size: 16px;
}

.dx-loadpanel-message {
  font-family: 'thsarabunnew' !important;
}

.dx-dialog-message {
  font-family: 'thsarabunnew' !important;
}

.txttitle-name {
  font-family: 'thsarabunnew' !important;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
}

.txttitle-user {
  font-family: 'thsarabunnew' !important;
  font-size: 16px;
  text-align: left;
}

.card-icon > p {
  font-family: 'thsarabunnew' !important;
  font-size: 18px;
}

.long-title h3 {
  font-family: 'thsarabunnew' !important;
  font-weight: 200;
  font-size: 28px;
  text-align: center;
  margin-bottom: 20px;
}

.dx-datagrid .dx-column-lines > td {
  border-left: 2px solid #ffffff !important;
  border-right: 2px solid #ffffff !important;
}

.moinavbar_user {
  border-inline-end-style: inset !important;
  border-inline-end-width: 1px !important;
}

::placeholder .form-group {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(0, 0, 0);
}

.login .login-header {
  position: absolute;
  top: -80px;
  left: 50%;
  right: 0;
  width: 500px;
  padding: 0 40px;
  margin-left: -225px;
  font-weight: 300;
}

::ng-deep .card {
  height: 100vh;
}

html {
  --scrollbarBG: rgb(255, 255, 255);
  --thumbBG: rgb(255, 255, 255);
}

body::-webkit-scrollbar {
  width: 11px;
}

body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

html {
  background: rgb(255, 255, 255);
  overflow: hidden;
}

body {
  height: 100vh;
  background: rgb(255, 255, 255);
  overflow-y: auto;
  margin: 0 auto;
  font: 100%/1.4 serif;
  width: 101.3%;
}

.btn-login > .dx-button {
  width: 100% !important;
  color: #fff !important;
  background-color: #24518a !important;
  margin-top: 15px;
}

.btn-login > .dx-button:hover {
  opacity: 0.9;
}

.btn-login > .dx-button:active {
  background-color: #24518a !important;
}

.btn-azure > .dx-button-content {
  padding: 0 !important;
}

.btn-login > .button-indicator {
  color: #fff !important;
}

// pik
// .header-bg {
//   // background-image: url('assets/img/top_header-left.png'), url('assets/img/top_header.png');
//   // background-repeat: no-repeat, repeat;
//   // background-position: left, left top;
//   // background-size: auto, 100% 100%;

//   background-image: url('assets/img/top_header.png');
//   background-repeat: no-repeat, repeat;
//   background-position: left, left top;
//   background-size: 100% 100%;
// }

.header-content {
  margin-top: 9rem;
}

.header-name {
  color: #fff;
}

.header-icon {
  padding: 0 10px;
  cursor: pointer;
}

.header-search {
  min-width: 300px;
}

.navbar {
  box-shadow: unset !important;
  background-color: unset !important;
}

::ng-deep.dx-button-mode-contained.dx-button-default {
  background-color: #4f96db !important;
  // border-radius: 50% !important;
}
::ng-deep.dx-button-mode-contained.dx-button-default:hover {
  color: #fff;
}

::ng-deep.dx-button-has-icon .dx-button-content {
  padding: 6px !important;
}

.d-flex {
  display: flex !important;
}

.t-end {
  text-align: end !important;
  position: sticky !important;
  top: 0 !important;
  z-index: 999 !important;
}

.sidebar {
  top: 75px !important;
}

.sidebar .sidebar-wrapper {
  margin-top: unset !important;
}

.dx-scrollable-wrapper {
  background-color: #fefefe;
}

.menu-role-text {
  font-size: 18px !important;
  color: #4f96db !important;
  font-weight: 600 !important;
  text-align: center;
}

.f-menu {
  font-size: 14px;
  font-weight: 500;
  margin-left: 15px;
}

.header-logo {
  cursor: pointer;
  background-color: unset !important;
}

.header-logo:hover {
  background-color: unset !important;
  color: unset !important;
}

.block-system {
  cursor: pointer;
}
.btn-add{
    border-radius: 50% !important ;
}
.btn-edit {
  //ระยะห่างปุ่ม
  padding-right: 9mm !important ;
}
.btn-updown {
  border-radius: 50% !important ;
}

.btn_delete > .dx-button-mode-contained.dx-button-danger {
  border-radius: 50% !important ;
  background-color: #ff4e4e !important;
}
.cm-title-pages {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: -10px;
  padding: 0.5rem;
}

::ng-deep.dx-treelist-rowsview .dx-treelist-expanded span::before {
  font-family: 'thsarabunnew' !important;
}
.navbar-cus {
  position: sticky !important;
  top: 0 !important;
  z-index: 999 !important;
}
.fa-spinner:before {
  color: #fff;
}
.mat-button.btn.btn-outline-secondary:focus,
.mat-button.btn.btn-outline-secondary.focus,
.mat-button.btn.btn-outline-secondary:hover,
.mat-raised-button.btn.btn-outline-secondary:focus,
.mat-raised-button.btn.btn-outline-secondary.focus,
.mat-raised-button.btn.btn-outline-secondary:hover,
.mat-raised-button.btn:not([class*='mat-elevation-z']).btn-outline-secondary:focus,
.mat-raised-button.btn:not([class*='mat-elevation-z']).btn-outline-secondary.focus,
.mat-raised-button.btn:not([class*='mat-elevation-z']).btn-outline-secondary:hover,
.btn.btn-outline-secondary:focus,
.btn.btn-outline-secondary.focus,
.btn.btn-outline-secondary:hover {
  color: #fff !important;
}

//เพิ่มรูปปุ่ม edit ทั้งหมด
// .dx-button-mode-contained.dx-button-default {
//   border-color: transparent;
//   color: #fff;
//   background-image: url(assets/img/edit.png) !important;
//   background-repeat: no-repeat;
//   margin: auto;
//   width: 32px !important;
//   height: 32px !important;
// }

//ไม่ต้องแสดงสีพื้นหลังปุ่ม
.dx-button-mode-contained.dx-button-default:hover,
.dx-button-mode-contained.dx-button-default {
  background-color: #e0e0e000 !important;
}

//ซ่อน icon dx [แก้ไข,ลบ]
.dx-button-mode-contained.dx-button-default .dx-icon,
.dx-button-mode-contained.dx-button-danger .dx-icon {
  display: none !important;
}

//เพิ่มรูปปุ่ม ลบ ทั้งหมด
// .btn_delete > .dx-button-mode-contained.dx-button-danger {
//   background-image: url(assets/img/del.png) !important;
//   background-repeat: no-repeat;
//   margin: auto;
//   width: 32px !important;
//   height: 32px !important;
// }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'thsarabunnew' !important;
  font-weight: bold !important;
}

.main-panel {
  padding-bottom: 10% !important;
}

//*** Custom all for moe2 template ***

//ตำแหน่งปุ่ม บนขวาทุกหน้าจอ
.btn-rigth-group {
  margin-top: 18px;
  text-align: right !important;
}

//ปุ่มเพิ่มทุกหน้าจอ
.dx-btn-add {
  background-color: #f3ce7a !important;
  color: #464646 !important;
}

//icon บวก
dx-button > div.dx-button-content > i.dx-icon.dx-icon-add {
  color: #464646 !important;
}

//icon กากบาท
dx-button > div.dx-button-content > i.dx-icon.dx-icon-clear{
    color: white;
}

//สีปุ่มยกเลิกทุกหน้าจอ
.dx-btn-cancel {
    background-color: #DA1217 !important;
    color: white !important;
  }

  //ปุ่มลบของ dxo-editing grid
// .dx-icon-trash::before {
//     content: url(assets/img/del.png) !important;
// }
  //*** Custom all for moe2 template ***
=======
>>>>>>> fb49d7a4e65ad84431f9cd5d8bbc81d16a9b7d58
